/* FONT */
p,
.main .text-wrapper-8,
.main .text,
.main .text-2,
.main .who-have-held-me-in,
.main .that-i-could-be-this,
.main .p,
.main .text-3,
.main .text-4,
.main .text-5,
.main .sudden-changed,
.main .text-6,
.main .text-7,
.main .text-8,
.main .text-9,
.main .text-10,
.main .text-11 {
  color: #db7b0d;
  font-family: Caveat;
  font-size: 36px;
  font-style: normal;
  font-weight: 580;
  line-height: 169%;
  letter-spacing: var(--line-spacing, 1.6px);
}

.main .text-wrapper,
.main .text-wrapper-2,
.main .who-have-held-me-in,
.main .text-wrapper-5,
.main .sudden-changed {
  color: #fef9e6;
  font-family: Caveat;
  font-size: 36px;
  font-style: normal;
  font-weight: 580;
  line-height: 169%;
  letter-spacing: var(--line-spacing, 1.6px);
}

.main .heading,
.main .text-wrapper-7,
.main .text-wrapper-10 {
  color: #db7b0d;
  font-family: Zeyada;
  font-weight: 400;
  letter-spacing: var(--line-spacing, 1.6px);
}

.main .text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px;
  position: absolute;
  top: 5450px;
  right: 100px;
}

.main .text-wrapper {
  position: relative;
  width: 492px;
  margin-top: -1px;
  text-align: right;
  line-height: 54px;
}

.main .text-2 {
  display: flex;
  flex-direction: column;
  width: 477px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 4950px;
  left: 100px;
}

.main .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  line-height: 54px;
}

.main .who-have-held-me-in {
  position: relative;
  align-self: stretch;
  line-height: 54px;
}

.main .text-3 {
  display: flex;
  flex-direction: column;
  width: 654px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 1140px;
  left: 96px;
}

.main .that-i-could-be-this {
  position: relative;
  align-self: stretch;
  height: 56px;
  margin-top: -1px;
  line-height: 60.8px;
  white-space: nowrap;
}

.color-pulse {
  color: inherit;
  animation: hightlight 5s ease-in-out infinite;
}

@keyframes hightlight {
  0%,
  50%,
  100% {
    color: #db7b0d;
  }
  20% {
    color: #fbdfab;
  }
}

.main .p {
  position: relative;
  align-self: stretch;
  line-height: 60.8px;
}

.main .text-4 {
  display: flex;
  flex-direction: column;
  width: 572px;
  align-items: flex-end;
  gap: 4px;
  position: absolute;
  top: 1888px;
  right: 100px;
}

.main .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  text-align: right;
  line-height: 60.8px;
}

.main .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  text-align: right;
  line-height: 60.8px;
}

.main .text-5 {
  display: flex;
  flex-direction: column;
  width: 593px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 2008px;
  right: 100px;
  white-space: nowrap;
}

.main .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  text-align: right;
  line-height: 60.8px;
}

.main .sudden-changed {
  position: relative;
  align-self: stretch;
  text-align: right;
  line-height: 60.8px;
}

.main .text-6 {
  display: flex;
  flex-direction: column;
  width: 718px;
  align-items: flex-start;
  gap: 46px;
  position: absolute;
  top: 3005px;
  left: 96px;
}

.main .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  line-height: 60.8px;
}

.main .inside-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main .text-7 {
  display: flex;
  flex-direction: column;
  width: 503px;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: absolute;
  top: 3744px;
  left: 735px;
}

.main .who-have-felt-me-in {
  position: relative;
  width: fit-content;
  line-height: 60.8px;
  white-space: nowrap;
}

.main .text-8 {
  display: flex;
  flex-direction: column;
  width: 536px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 4236px;
  left: 822px;
}

.main .intro-title {
  display: flex;
  flex-direction: column;
  width: 822px;
  align-items: center;
  justify-content: center;
  gap: 47px;
  position: absolute;
  top: 312px;
  left: 50%;
  transform: translateX(-50%);

  animation-name: title-appear;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
@keyframes title-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main .intro-title {
  display: flex;
  flex-direction: column;
  width: 822px;
  align-items: center;
  justify-content: center;
  gap: 47px;
  position: absolute;
  top: 312px;
  left: 50%;

  transform: translate(-50%, 50px);
  opacity: 0;

  animation-name: title-appear;
  animation-duration: 0.8s;
  animation-delay: 2s;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-fill-mode: forwards;
}

@keyframes title-appear {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.main .title-2 {
  display: grid;
  grid-template-columns: repeat(2, fit-content(100%));
  grid-template-rows: repeat(1, fit-content(100%));
  height: fit-content;
  gap: 10px;
}

.main .heading {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-size: 108px;
  line-height: 162px;
}

.main .to-all-my {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 423px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main .text-wrapper-7 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 389px;
  height: 243px;
  font-size: 162px;
  line-height: 243px;
  white-space: nowrap;
}

.main .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  text-align: center;
  line-height: 60.8px;
}

.main .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  line-height: 60.8px;
  white-space: nowrap;
}

.main .text-9 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 6219px;
  left: 828px;
  animation: hightlight 4s ease-in-out infinite;
  animation-delay: 2s;
}

.main .text-10 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 6455px;
  left: 616px;
  animation: hightlight 4s ease-in-out infinite;
  animation-delay: 3s;
}

.main .text-11 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 6022px;
  left: 404px;
  animation: hightlight 4s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes hightlight {
  0%,
  50%,
  100% {
    color: #db7b0d;
  }
  20% {
    color: #f5c977;
  }
}

.main .text-wrapper-10 {
  color: #fbdfab;
  position: absolute;
  top: 7138px;
  left: calc(50% - 233px);
  font-size: 108px;
  line-height: 162px;
  white-space: nowrap;
}

.main::-webkit-scrollbar {
  width: 0;
  display: none;
}
.the-end-text {
  position: absolute;
  display: flex;
  /* flex-direction: column;
  width: 100%; */
  left: 55%;
  transform: translateX(-50%);
  /* left: 0; */
  width: 100vw;
  max-width: 2340px;
}
